img {
  padding: 0;
  margin: 0;
  float: left;
}

@media (min-width: 768px){
img {
  width: 25%;
}
}

@media (max-width: 767px){
img {
  width: 33.3%;
}
}

@media(min-width: 512px){
.min-pics {
  display: none;
}
}

@media(max-width: 511px){
.min-pics {
  display: inline;
}
}

div.about-container {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #f8f8f8
}

div.about-text {
  padding: 2.5vw 3.5vw;
  position: absolute;
  bottom: 18%;
  left: 18%;
  width: 64%;
  height: 64%;
  filter: alpha(opacity=98);
  -moz-opacity: 0.95;
  opacity: 0.95;
  font-family: "Verdana", "Trebuchet MS", sans-serif;
  background-color: #fff;
}

h2 {
  margin-bottom: 1.5vw;
  text-align: justify;
  text-align: left;
  color: #f7473f;
  font-weight: bolder;
}

div.aboutme-text {
  text-align: justify;
  text-align: left;
  color: #444;
}

@media (min-width: 768px) {

div.about-text {
  padding: 2.4vw 4vw;
}

h2 {
  margin-bottom: 1.5vw;
  font-size: 1.9vw;
  line-height: 3.3vw;
}

div.aboutme-text {
  margin: 1vw 0;
  font-size: 1.5vw;
  line-height: 2.7vw;
}
}

@media (max-width: 767px){

div.about-text {
  padding: 30px 40px;
}

h2 {
  margin-bottom: 2.5vw;
  font-size: 3.2vw;
}

div.aboutme-text {
  margin: 1vw 0;
  font-size: 2.6vw;
  line-height: 3.4vw;
}
}

@media (max-width: 639px) {

div.about-text {
  padding: 8px 18px;
}

}

@media (max-width: 511px){

div.about-text {
  padding: 2px 18px;
}

h2 {
  margin-bottom: 1.5vw;
  font-size: 3.8vw;
}

div.aboutme-text {
  font-size: 2.8vw;
  line-height: 4.2vw;
}
}
