{% extends "base.html" %}

{% block mainbody %}

<div class="row about-container">
    <img src="/static/image/about/1.jpg">
    <img src="/static/image/about/2.jpg">
    <img src="/static/image/about/3.jpg">
    <img src="/static/image/about/4.jpg">
    <img src="/static/image/about/5.jpg">
    <img src="/static/image/about/6.jpg">
    <img src="/static/image/about/7.jpg">
    <img src="/static/image/about/8.jpg">
    <img src="/static/image/about/9.jpg">
    <img src="/static/image/about/10.jpg">
    <img src="/static/image/about/11.jpg">
    <img src="/static/image/about/12.jpg">
    <div class="min-pics">
        <img src="/static/image/about/13.jpg">
        <img src="/static/image/about/14.jpg">
        <img src="/static/image/about/15.jpg">
    </div>
    <div class="about-text">
        <h2>Nice to Meet You!</h2>
        <div class="aboutme-text">I’m <b>Hanfei Ren</b>, a developer and designer keen on combining my love for computer science, design and life to craft interactive experiences.</div><div class="aboutme-text">Right now, I am a senior student at Zhejiang University, with double major in digital media techonology and industrial design.</div><div class="aboutme-text">In my spare time, I love traveling, cooking and photographing.</div>
    </div>
</div>

{% endblock %}

