{% extends "base.html" %}

{% block mainbody %}

<div class="banner">
    <div id="banner-text">
        <h1>Kiwi</h1>
        <p>A VR Auction Platform for lovers of anmie, comics and games to sell or exchange game equipment and related
            products.</p>
    </div>
    <p class="visible-lg visible-md visible-sm" align="center" id="skrollr">
        <img align="center" src="/static/image/kiwi/icon.png" alt="kiwi icon">
    </p>
</div>

<div class="details">
    <div class="summary-block">
        <h2>Summary</h2>
        <div class="heading-line"><br/></div>
        <p>Kiwi is a VR Auction Platform for lovers of anmie, comics and games to sell or exchange game equipment and
            related products prototyped in Alibaba user experience design workshop. Based on Virtual Reality technology,
            Kiwi produces fun interactive experience, fulfilling the demands of the large group of <abbr
                    title="a Japanese term for people with obsessive interests, commonly the anime and manga fandom">Otaku</abbr>.
        </p>
    </div>
</div>

<div class="overview">
    <div class="row overview-container">
        <div class="overview-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="overview-icon col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <span class="glyphicon glyphicon-time"></span>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <h3>Duration</h3>
                <h4>Oct - Dec 2016</h4>
            </div>
        </div>
        <div class="overview-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="overview-icon col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <span class="glyphicon glyphicon-globe"></span>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <h3>Supervisor</h3>
                <h4>
                    <a class="dashlink" target="_blanket" href="https://www.facebook.com/AlibabaUED/">Alibaba UED</a>
                </h4>
            </div>
        </div>
        <div class="overview-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="overview-icon col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <span class="glyphicon glyphicon-user"></span>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <h3>My Role</h3>
                <h4>User Researcher<br/>Interface Designer<br/>(4-member team)</h4>
            </div>
        </div>
        <div class="overview-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="overview-icon col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <span class="glyphicon glyphicon-pencil"></span>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <h3>Skills</h3>
                <h4>User Research<br/>Prototyping</h4>
            </div>
        </div>
    </div>
</div>

<div class="details">

    <div class="details-block">
        <h2>Background</h2>
        <div class="heading-line"><br/></div>
        <p>Alibaba, a well-known Chinese e-commerce company, is trying to tap the potential of markets concerning
            auction and to employ Virtual Reality technology for better user experience.</p>
        <p>Our product was aimed to:
        <ol>
            <li>Tap into potential auction areas;</li>
            <li>Stimulate user activity in auction;</li>
            <li>Enhance the Commodity category and quantity as well as the auction volume;</li>
            <li>Promote user interaction during the auction;</li>
            <li>Make the auction experience fun, engaging, and novel.</li>
        </ol>
        </p>
        <p>Considering the growing group of lovers of anmie, comics and games and the strong relation between games and
            VR, we targeted at transaction of game products and designed Kiwi.</p>
    </div>

    <div class="details-block">
        <h2>Process</h2>
        <p align="center">
        <div class="heading-line"></div>
        </p>
        <section id="cd-timeline">
            <div class="cd-timeline-block">
                <div class="cd-timeline-img"></div>
                <div class="cd-timeline-content">
                    <h3>Market Discovery</h3>
                    <ul class="text">
                        <li>Online games are bound to go through a revolution from traditional mouse and keyboard operation
                        to VR control.</li>
                        <li>There are a quantity of online game players. Considering their own social nature, they are
                        expected to be active on the platform.</li>
                        <li>Players’ deep concern about game level and equipment gave birth to a trading market based on
                        vast VR game commodities.</li>
                    </ul>
                    <div class="timeline-img row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <img class="pimg" style="margin: 1em 0;" src="/static/image/kiwi/consum_type.jpg">
                            <p>Anime and manga fans have a high level of consumption on related products.</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <img class="pimg" style="margin: 1em 0;" src="/static/image/kiwi/vrgame_predict.jpg">
                            <p>The trend of VR technology applied in <abbr style="border-bottom: 0;"
                                                                           title="massively multiplayer online role-playing games">MMORPG</abbr>
                                is growing.</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <img class="pimg" style="margin: 1em 0;" src="/static/image/kiwi/vr_market.jpg">
                            <p>VR market is maturing.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img"></div>
                <div class="cd-timeline-content">
                    <h3>Market Research</h3>
                    <p>The potential market for VR gaming deals is huge in that the game commodities have advantages
                        over traditional lots in the quantity of categories and the volume of transactions.
                        Moreover, this market is currently not fully tapped or involved. It is worthwhile to design a
                        brand new product for this area.</p>
                    <div class="timeline-img row">
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <img class="pimg" style="margin: 1em 0;" src="/static/image/kiwi/market_1.jpg">
                            <p>The average price of game items is one of the top in all genres.</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <img class="pimg" style="margin: 1em 0;" src="/static/image/kiwi/market_2.jpg">
                            <p>The number of subtypes of game items is one of the top in all genres, but valid
                                indexing method is exile.</p>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                            <img class="pimg" style="margin: 1em 0;" src="/static/image/kiwi/market_3.jpg">
                            <p>The conversion from game forum to e-commerce platform is considerable.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img"></div>
                <div class="cd-timeline-content">
                    <h3>User Research</h3>
                    <div class="row">
                        <div class="non-padding col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <p>Game purchase amount is considerable.</p>
                            <p>Most players prefer functional equipments to enhance the level or the ability of the game
                                characters.</p>
                            <p>Most players are reluctant to use the auction house in games, with a contributing factor
                                that the lots are expensive and insufficient.</p>
                            <p>There are abundant social activities in the game.</p>
                        </div>
                        <div class="timeline-img col-lg-8 col-md-8 col-sm-6 col-xs-12">
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="pimg" style="margin: 1em 0;" src="/static/image/kiwi/commodity_1.jpg">
                                <p style="text-align: center;">Fuctional</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="pimg" style="margin: 1em 0;" src="/static/image/kiwi/commodity_2.jpg">
                                <p style="text-align: center;">Fashion</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="pimg" style="margin: 1em 0;" src="/static/image/kiwi/commodity_3.jpg">
                                <p style="text-align: center;">Consumable</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <img class="pimg" style="margin: 1em 0;" src="/static/image/kiwi/commodity_4.jpg">
                                <p style="text-align: center;">Gift package</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img"></div>
                <div class="cd-timeline-content">
                    <h3>User Portrait</h3>
                    <img class="pimg" style="margin: 0; float: right; width: 25%;" src="/static/image/kiwi/profile.png"><br/>
                    <p><b>Name:</b> Vivian</p>
                    <p><b>Identity:</b> Female college student</p>
                    <p><b>Favorite Games:</b> <abbr style="border-bottom: 0;" title="倩女幽魂">A Chinese
                        Ghost Story</abbr> <abbr style="border-bottom: 0;" title="剑网三">JX Online</abbr> <abbr
                            style="border-bottom: 0" title="天龙八部">Demi-Gods and Semi-Devils</abbr></p>
                    <p><b>Expense on games:</b>
                        near 20,000 rmb</p>
                    <p><b>Proportion of consumption:</b> Functional equipment 60%, Fashion 25%,
                        consumables 15%</p>
                    <p><b>Path to purchase:</b> Buy game currency from Taobao, then buy target
                        goods in ordinary exchanges in games</p>
                    <p><b>Reasons not to use current game auction house:</b>
                        1. Scant proper equipment 2. Excessive processing fees 3. High costs of good game
                        equipment</p>
                    <p><b>Main social ways:</b> 1. Play a copy 2. chatting when enjoying the game
                        scenery 3. chat in gang party</p>
                </div>
            </div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img"></div>
                <div class="cd-timeline-content">
                    <h3>Competitive Analysis</h3>
                    <div class="row">
                        <div style="padding-left: 0;" class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                            <p>We found some <b>shortcomings</b> ...
                            <ul class="text">
                                <li>The lack of sociality makes it difficult to gather players.</li>
                                <li>The lack of auction elements undermined the sense of accomplishment and superiority
                                    for the transaction.
                                </li>
                                <li>Timeliness is poor.</li>
                                <li>The process is boring.</li>
                            </ul>
                            </p>
                            <p>We also found some <b>merits</b> ...
                            <ul class="text">
                                <li>Seller access mechanism.</li>
                                <li>Bidding ladder mechanism.</li>
                                <li>Agent mechanism.</li>
                            </ul>
                            </p>
                        </div>
                        <div class="timeline-img non-padding col-lg-5 col-md-5 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <img class="pimg" style="margin: 1em 0;" src="/static/image/kiwi/monopoly.jpg">
                                </div>
                                <div class="non-padding col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                    <p class="caption"><abbr style="border-bottom: 0;"
                                                             title="an online board game where players roll two six-sided dice to move around the game-board buying and trading properties, and develop them with houses and hotels">Monopoly</abbr><br/>Game
                                        NPC presides over the auction</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <img class="pimg" style="margin: 1em 0;" src="/static/image/kiwi/dnf.jpg">
                                </div>
                                <div class="non-padding col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                    <p class="caption"><abbr style="border-bottom: 0;"
                                                             title="a multiplayer PC beat 'em up video game">Dungeon and
                                        Fighter</abbr><br/><abbr style="border-bottom: 0;"
                                                                 title="a massively multiplayer online role-playing game (MMORPG) released in 2004 by Blizzard Entertainment">World
                                        of Warcraft</abbr><br/>Simple auction house</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                                    <img class="pimg" style="margin: 1em 0;" src="/static/image/kiwi/dreamwest.jpg">
                                </div>
                                <div class="non-padding col-lg-5 col-md-5 col-sm-5 col-xs-12">
                                    <p class="caption"><abbr style="border-bottom: 0;" title="梦幻西游">Fantasy Westward
                                        Journey</abbr><br/>Complete auction process</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img"></div>
                <div class="cd-timeline-content">
                    <h3>Ideation</h3>
                    <h4>Seller</h4>
                    <div class="row">
                        <div class="non-padding col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <p style="text-align: center;"><b>Room Decoration</b></p>
                            <ul class="block-text">
                                <li>Choose room</li>
                                <li>Decorate the room</li>
                                <li>Automatically / manually display goods</li>
                            </ul>
                        </div>
                        <div class="non-padding col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <p style="text-align: center;"><b>Long-term Auction</b></p>
                            <ul class="block-text">
                                <li>Time: anytime</li>
                                <li>Scene: shop</li>
                                <li>Clerk: seller / hire NPC clerk</li>
                            </ul>
                        </div>
                        <div class="non-padding col-lg-4 col-md-4 col-sm-12 col-xs-12">
                            <p style="text-align: center;"><b>Short-term Auction</b></p>
                            <ul class="block-text">
                                <li>Time: notify in advance</li>
                                <li>Scene: shop / auction house</li>
                                <li>Clerk: seller / hire NPC auctioneer</li>
                            </ul>
                        </div>
                    </div>
                    <h4>Buyer</h4>
                    <p>Enter the auction hall from various games</p>
                    <p><b>Select mode:</b>
                    <ul class="text">
                        <li>Browsing mode: View real-time bidding information showed on the big screen of auction
                            hall.
                        </li>
                        <li>Search Mode: Search for Products / Shop</li>
                        <li>Assault mode: See Smart Recommendation of Commodities</li>
                    </ul>
                    </p>
                    <h4>Sociality</h4>
                    <p><b>Collection system:</b> Add shop / Lot / Lot notice to collection.</p>
                    <p><b>Friends system:</b> Make friends for convenient communication on auction information.</p>
                    <h4>Map</h4>
                    <img class="pimg" src="/static/image/kiwi/devmap.jpg">
                </div>
            </div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img"></div>
                <div class="cd-timeline-content">
                    <h3>Journey Map</h3>
                    <img class="pimg" src="/static/image/kiwi/map.png">
                </div>
            </div>
            <div class="cd-timeline-block">
                <div class="cd-timeline-img"></div>
                <div class="cd-timeline-content">
                    <h3>Storyboard</h3>
                    <div class="timeline-img">
                        <div class="row">
                            <div class="comic-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="min-padding col-lg-12 col-md-12 col-sm-9 col-xs-12">
                                    <img class="pimg" style="margin: 0;" src="/static/image/kiwi/story_1.jpg">
                                </div>
                                <div class="min-padding col-lg-12 col-md-12 col-sm-3 col-xs-12">
                                    <p class="caption">Xiao Huang is an introverted college student, keen on playing
                                        online
                                        games.</p>
                                </div>
                            </div>
                            <div class="comic-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="min-padding col-lg-12 col-md-12 col-sm-9 col-xs-12">
                                    <img class="pimg" style="margin: 0;" src="/static/image/kiwi/story_2.jpg">
                                </div>
                                <div class="min-padding col-lg-12 col-md-12 col-sm-3 col-xs-12">
                                    <p class="caption">Today, he enters the auction platform as usual, using VR
                                        glasses.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="comic-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="min-padding col-lg-12 col-md-12 col-sm-9 col-xs-12">
                                    <img class="pimg" style="margin: 0;" src="/static/image/kiwi/story_3.jpg">
                                </div>
                                <div class="min-padding col-lg-12 col-md-12 col-sm-3 col-xs-12">
                                    <p class="caption">In the auction hall, Xiao Huang chooses a theme partition and
                                        customizes his decoration.</p>
                                </div>
                            </div>
                            <div class="comic-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="min-padding col-lg-12 col-md-12 col-sm-9 col-xs-12">
                                    <img class="pimg" style="margin: 0;" src="/static/image/kiwi/story_4.jpg">
                                </div>
                                <div class="min-padding col-lg-12 col-md-12 col-sm-3 col-xs-12">
                                    <p class="caption">Now he enters the auction room, with decoration matching the lots
                                        well.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="comic-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="min-padding col-lg-12 col-md-12 col-sm-9 col-xs-12">
                                    <img class="pimg" style="margin: 0;" src="/static/image/kiwi/story_5.jpg">
                                </div>
                                <div class="min-padding col-lg-12 col-md-12 col-sm-3 col-xs-12">
                                    <p class="caption">Advanced VR devices provide realistic user experience through
                                        analog haptic for game items.</p>
                                </div>
                            </div>
                            <div class="comic-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="min-padding col-lg-12 col-md-12 col-sm-9 col-xs-12">
                                    <img class="pimg" style="margin: 0;" src="/static/image/kiwi/story_6.jpg">
                                </div>
                                <div class="min-padding col-lg-12 col-md-12 col-sm-3 col-xs-12">
                                    <p class="caption">Xiao Huang tries game equipments and props in the scene as
                                        well.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="cd-timeline-block">
                <div class="cd-timeline-img"></div>
                <div class="cd-timeline-content">
                    <h3>Prototype</h3>
                    <div class="timeline-img">
                        <div class="row">
                            <div class="comic-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="min-padding col-lg-12 col-md-12 col-sm-9 col-xs-12">
                                    <img class="pimg" style="margin: 0;" src="/static/image/kiwi/cloth1.jpg">
                                </div>
                                <div class="min-padding col-lg-12 col-md-12 col-sm-3 col-xs-12">
                                    <p class="caption">Customize Portrait.</p>
                                </div>
                            </div>
                            <div class="comic-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="min-padding col-lg-12 col-md-12 col-sm-9 col-xs-12">
                                    <img class="pimg" style="margin: 0;" src="/static/image/kiwi/cloth2.jpg">
                                </div>
                                <div class="min-padding col-lg-12 col-md-12 col-sm-3 col-xs-12">
                                    <p class="caption">Change Portrait.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="comic-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="min-padding col-lg-12 col-md-12 col-sm-9 col-xs-12">
                                    <img class="pimg" style="margin: 0;" src="/static/image/kiwi/decoration1.jpg">
                                </div>
                                <div class="min-padding col-lg-12 col-md-12 col-sm-3 col-xs-12">
                                    <p class="caption">Decorate room.</p>
                                </div>
                            </div>
                            <div class="comic-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="min-padding col-lg-12 col-md-12 col-sm-9 col-xs-12">
                                    <img class="pimg" style="margin: 0;" src="/static/image/kiwi/decoration2.jpg">
                                </div>
                                <div class="min-padding col-lg-12 col-md-12 col-sm-3 col-xs-12">
                                    <p class="caption">Choose furniture.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="comic-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="min-padding col-lg-12 col-md-12 col-sm-9 col-xs-12">
                                    <img class="pimg" style="margin: 0;" src="/static/image/kiwi/auction1.jpg">
                                </div>
                                <div class="min-padding col-lg-12 col-md-12 col-sm-3 col-xs-12">
                                    <p class="caption">Counter.</p>
                                </div>
                            </div>
                            <div class="comic-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="min-padding col-lg-12 col-md-12 col-sm-9 col-xs-12">
                                    <img class="pimg" style="margin: 0;" src="/static/image/kiwi/auction2.jpg">
                                </div>
                                <div class="min-padding col-lg-12 col-md-12 col-sm-3 col-xs-12">
                                    <p class="caption">Auction information.</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="comic-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="min-padding col-lg-12 col-md-12 col-sm-9 col-xs-12">
                                    <img class="pimg" style="margin: 0;" src="/static/image/kiwi/message1.jpg">
                                </div>
                                <div class="min-padding col-lg-12 col-md-12 col-sm-3 col-xs-12">
                                    <p class="caption">Message board.</p>
                                </div>
                            </div>
                            <div class="comic-block col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                <div class="min-padding col-lg-12 col-md-12 col-sm-9 col-xs-12">
                                    <img class="pimg" style="margin: 0;" src="/static/image/kiwi/message2.jpg">
                                </div>
                                <div class="min-padding col-lg-12 col-md-12 col-sm-3 col-xs-12">
                                    <p class="caption">Comment.</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
        </section>
    </div>

    <a class="back-to-top" href="javascript:window.scrollTo( 0, 0 );"><h6>↑ Back to Top</h6></a>

</div>


{% endblock %}

