{% extends "base.html" %}

{% block mainbody %}

<div class="banner">
    <div id="banner-text">
        <h1>StepBeats</h1>
        <p>An artificial intelligence platform for creating music through exercise.</p>
    </div>
    <p class="visible-lg visible-md visible-sm" align="center" id="skrollr">
        <img align="center" src="/static/image/stepbeats/object.png">
    </p>
</div>

<div class="details">
    <div class="summary-block">
        <h2>Summary</h2>
        <div class="heading-line"><br/></div>
        <p>StepBeats is a mobile application aimed to help users produce music from running. We combined the ideas of healthcare applications, <abbr title="User Generated Content" style="border-bottom: 0;">UGC</abbr>, Computer generated X (X = picture, video, music, etc.) together to achieved StepBeats and relevant products.</p>
        <p><b>Award: </b>Gold Prize, <a target="_blanket" href="https://en.wikipedia.org/wiki/Internet_Plus">"Internet Plus"</a> National College Student Innovation and Entrepreneurship Competition.</p>
    </div>
</div>

<div class="overview">
    <div class="row overview-container">
        <div class="overview-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="overview-icon col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <span class="glyphicon glyphicon-time"></span>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <h3>Duration</h3>
                <h4>July 2017 - Now</h4>
            </div>
        </div>
        <div class="overview-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="overview-icon col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <span class="glyphicon glyphicon-globe"></span>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <h3>People</h3>
                <h4>A 14-people team, including designers, developers and market researchers.</h4>
            </div>
        </div>
        <div class="overview-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="overview-icon col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <span class="glyphicon glyphicon-user"></span>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <h3>My Role</h3>
                <h4>Developer<br/>Interface Designer</h4>
            </div>
        </div>
        <div class="overview-block col-lg-3 col-md-6 col-sm-6 col-xs-12">
            <div class="overview-icon col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <span class="glyphicon glyphicon-pencil"></span>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                <h3>Skills</h3>
                <h4>Deep Learning<br/>Music Process</h4>
            </div>
        </div>
    </div>
</div>

<div class="details">

    <div class="details-block">
        <h2>Background</h2>
        <div class="heading-line"><br/></div>
        <p>There are three eye-catching trends in different fields leading nowadays fashion.</p>
        <ul class="text">
        <li>Health has become a deep concern for everybody, when running, along with running Apps, gets prevalent and turns into a new fashion.</li>
        <li><abbr title="User Generated Content" style="border-bottom: 0;">UGC</abbr> mode has gained remarkable achievement.</li>
        <li>Computer generated X (X = picture, video, music, etc.) develops well.</li>
        </ul>
        <p>We came up with the idea of StepBeats, which combined health-care, UGC and computer generated music together for brand new interesting experience.</p>
        <div class="slim">
        <h5>Target Users</h5>
        <img class="pimg" src="/static/image/stepbeats/users.jpg">
        </div>
    </div>



    <div class="details-block">
        <h2>Product Ecology</h2>
        <div class="heading-line"><br/></div>
        <img class="pimg" src="/static/image/stepbeats/ecology.jpg">
        <p>We designed and developed a series of products derived from the first idea to combine running and musical composition, which include the basic app, customization tools, specialized community and related brands.</p>
        <div class="s-container">
        <!-- <h4>StepBeats</h4> -->
        <img class="pimg" src="/static/image/stepbeats/sb.jpg">
        <div class="row">
            <div class="small-padding col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img class="pimg" class="small" src="/static/image/stepbeats/sb_1.jpg">
            </div>
            <div class="small-padding col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img class="pimg" class="small" src="/static/image/stepbeats/sb_2.jpg">
            </div>
            <div class="small-padding col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <img class="pimg" class="small" src="/static/image/stepbeats/sb_3.jpg">
            </div>
        </div>
        </div>
        <div class="s-container">
        <img class="pimg" src="/static/image/stepbeats/sr.jpg">
        <div class="row">
            <div class="small-padding col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img class="pimg" class="small" src="/static/image/stepbeats/sr_1.jpg">
            </div>
            <div class="small-padding col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img class="pimg" class="small" src="/static/image/stepbeats/sr_2.jpg">
            </div>
        </div>
        </div>
        <div class="s-container">
        <img class="pimg" src="/static/image/stepbeats/sf.jpg">
        <div class="row">
            <div class="small-padding col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img class="pimg" class="small" src="/static/image/stepbeats/sf_1.jpg">
            </div>
            <div class="small-padding col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <img class="pimg" class="small" src="/static/image/stepbeats/sf_2.jpg">
            </div>
        </div>
        </div>
        <div class="s-container row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="small-box">
                <img class="pimg" class="small" src="/static/image/stepbeats/sg.png">
                </div>
                <h4>Step Gear</h4>
                <h6>Step Gear is a brand of smart sports equipment, born of cooperation with smart wearable device .</h6>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="small-box">
                <img class="pimg" class="small" src="/static/image/stepbeats/fp.png"></div>
                <h4>Fitness Premium</h4>
                <h6>Fitness Premium is a health-care application providing health evaluation functions based on users’ data.</h6>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="small-box">
                <img class="pimg" class="small" src="/static/image/stepbeats/sv.png">
                </div>
                <h4>Step VR</h4>
                <h6>Step VR offers APIs of high flexibility for VR corporations.</h6>
            </div>
        </div>
    </div>

    <div class="details-block">
        <h2>Business</h2>
        <div class="heading-line"><br/></div>
        <div class="slim">
        <img class="pimg" style="margin: 0; padding: 10px;" src="/static/image/stepbeats/shortterm.jpg">
        <img class="pimg" style="margin: 0; padding: 10px;" src="/static/image/stepbeats/longterm.jpg">
        <img class="pimg" style="margin: 0; padding: 10px;" src="/static/image/stepbeats/promotion.jpg">
        </div>
    </div>

    <a class="back-to-top" href="javascript:window.scrollTo( 0, 0 );"><h2>↑ Back to Top</h2></a>

</div>


{% endblock %}

