{% extends "base.html" %}

{% block mainbody %}
<div class="main">
    <div class="note">
        <p>Welcome! It is an image quality assessment experiment for my capstone project <a target="_blanket" href="https://news.berkeley.edu/2014/07/29/vision-correcting-displays/">Vision Correcting Displays</a>. In this experiment, you are expected to compare the display quality of two images simulated from our vision correcting system. There are not specific rubrics for your evaluation, so just decide with your intuitions! </p>
        <p>Typically, the assessment process will take 10-15 minutes. Thanks for your time and participation! 😊</p>
    </div>
    <div class="row exp">
        <div class="display col-lg-4 col-md-4">
            <p>(a)</p>
            <img src="{{im1}}">  
        </div>
        <div class="display col-lg-4 col-md-4">
            <p>(b)</p>
            <img src="{{im2}}">
        </div>
        <div class="assess col-lg-4 col-md-4">
            <h3>Considering the <b>image quality</b>, compared with (a), (b) is ____</h3>
            <h4>{{process}}% Completed</h4>
            <form role="form" action="/vcd" method="post">
                {% csrf_token %}
                {% if submit %}
                    <table class="options">
                        <tr><td class="option"><input value="-3" name="rating" type="radio"> Much Worse</input></td></tr>
                        <tr><td class="option"><input value="-2" name="rating" type="radio"> Worse</input></td></tr>
                        <tr><td class="option"><input value="-1" name="rating" type="radio"> Slightly Worse</input></td></tr>
                        <tr><td class="option"><input value="0" name="rating" type="radio"> The Same</input></td></tr>
                        <tr><td class="option"><input value="1" name="rating" type="radio"> Slightly Better</input></td></tr>
                        <tr><td class="option"><input value="2" name="rating" type="radio"> Better</input></td></tr>
                        <tr><td class="option"><input value="3" name="rating" type="radio"> Much Better</input></td></tr>
                    </table>
                    <input id="submit" type="submit" value="Confirm" class="btn btn-primary btn-confirm" disabled="disabled">
                {% else %}
                    <table class="options">
                        <tr><td class="option"><input value="-3" name="rating" type="radio" disabled="disabled"> Much Worse</input></td></tr>
                        <tr><td class="option"><input value="-2" name="rating" type="radio" disabled="disabled"> Worse</input></td></tr>
                        <tr><td class="option"><input value="-1" name="rating" type="radio" disabled="disabled"> Slightly Worse</input></td></tr>
                        <tr><td class="option"><input value="0" name="rating" type="radio" disabled="disabled"> The Same</input></td></tr>
                        <tr><td class="option"><input value="1" name="rating" type="radio" disabled="disabled"> Slightly Better</input></td></tr>
                        <tr><td class="option"><input value="2" name="rating" type="radio" disabled="disabled"> Better</input></td></tr>
                        <tr><td class="option"><input value="3" name="rating" type="radio" disabled="disabled"> Much Better</input></td></tr>
                    </table>
                    <input type="submit" value="Completed! Thank you." class="btn btn-primary btn-confirm disabled">
                {% endif %}
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.onload = function(){
        $('input[type=radio][name=rating]').change(function() {
            document.getElementById("submit").removeAttribute("disabled");
        });
    }
</script>

{% endblock %}