{% extends "base.html" %}

{% block mainbody %}

<div style="background-color: #f8f8f8;" class="container-main">
    <!-- <div class="welcome-bg">
        <div class="container">
            <h1 class="jumbotron-heading">Hi, I am Hanfei.</h1>
            <p class="lead text-muted">A Developer &amp Desinger.</p>
        </div>
    </div> -->

    <div class="gallery">
        <div class="row">
            <div class="non-padding col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <a href="/cubicle">
                        <img src="/static/image/cubicle.jpg" alt="图片文本描述">
                        <span>
                            <div class="title">Cubicle</div>
                            <div class="time">2017</div>
                            <div class="sup" style="margin: 0;">UX / Education / Game Development -- An Adaptive Educational Gaming Platform for Training Spatial Visualization Skills.</div>
                        </span>
                    </a>
                </div>
            </div>
            <div class="non-padding col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <a href="/casio">
                        <img src="/static/image/casio.jpg" alt="图片文本描述">
                        <span>
                            <div class="title">Casio IUR</div>
                            <div class="time">2016 - 2017</div>
                            <div class="sup" style="margin: 0;">UX / UI / Product Design -- Developed a selfie camera and a visual communication platform that will potentially become popular in the near future.</div>
                        </span>
                    </a>
                </div>
            </div>
            <div class="non-padding col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <a href="/kiwi">
                        <img src="/static/image/kiwi.jpg" alt="图片文本描述">
                        <span>
                            <div class="title">Kiwi</div>
                            <div class="time">2016</div>
                            <div class="sup" style="margin: 0;">UX -- A VR Auction Platform for lovers of anmie, comics and games to sell or exchange game equipment and related products.</div>
                        </span>
                    </a>
                </div>
            </div>
            <div class="non-padding col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <a href="/standup">
                        <img src="/static/image/standup.jpg" alt="图片文本描述">
                        <span>
                            <div class="title">StandUp</div>
                            <div class="time">2016</div>
                            <div class="sup" style="margin: 0;">UX / UI -- A Desktop application to stop office workers from sedentary lifestyle.</div>
                        </span>
                    </a>
                </div>
            </div>
            <div class="non-padding col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <a href="/stepbeats">
                        <img src="/static/image/stepbeats.jpg" alt="图片文本描述">
                        <span>
                            <div class="title">StepBeats</div>
                            <div class="time">2017</div>
                            <div class="sup" style="margin: 0;">UX / Research -- An artificial intelligence platform for creating music through exercise.</div>
                        </span>
                    </a>
                </div>
            </div>
            <div class="non-padding col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="card">
                    <a href="/projects">
                        <img src="/static/image/project.jpg" alt="图片文本描述">
                        <span>
                            <div class="title">Project Showcase</div>
                            <div class="time">2015 - 2017</div>
                            <div class="sup" style="margin: 0;">Some of my short projects including games, apps, handcrafts, etc.</div>
                        </span>
                    </a>
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}

